# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.netcoreConsoleApp1.iml
/modules.xml
# 数据源本地存储已忽略文件
/../../../../../../../:\JetbrainsWorks\RidersWorks\netcoreConsoleApp1\.idea\.idea.netcoreConsoleApp1\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
